frontend/node_modules/
frontend/cypress/fixtures/
frontend/cypress/videos/
frontend/cypress/screenshots
frontend/build/
backend/static/
**/__pychache__/
/frontend/src/Settings.js
frontend/public/meta.json
backend/.env
/backend/env
/backend/venv
/backend/AutoML
/backend/data_producer.py
/backend/sandbox/**
frontend/src/Settings.js
**.pyc
*.pyc
**.log
!spec/*.pyc
frontend/cypress/downloads/*
frontend/package-lock.json
frontend/cypress.env.json
frontend/.eslintcache
.env
.idea
pgdata
tsdata
.coverage
backend/media
backend/test/media
backend/tenants
rabbitmq/data
rabbitmq/log
